// varibles
$color-primary: #c4848f;
$color-primary-50: #f3e6e8;
$color-primary-100: #e7cdd2;
$color-primary-200: #dbb5bb;
$color-primary-300: #cf9ca5;
$color-primary-400: #c9909a;
$color-primary-500: #be7783;
$color-primary-600: #b86b78;
$color-primary-700: #ac5262;
$color-primary-800: #a03a4b;
$color-primary-900: #942135;

@font-face {
  font-family: shabnam;
  src: url(./font/Shabnam.ttf);
}

body {
  font-family: shabnam;
}

li {
  list-style: none;
}

.container-custom {
  @extend .container-lg;
  @extend .px-2;
  @extend .px-sm-3;
  @extend .px-lg-0;
}

@mixin media($size) {
  @if ($size == "lg") {
    @media screen and (min-width: 992px) {
      @content;
    }
  }

  @if ($size == "md") {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @if ($size == "sm") {
    @media screen and (min-width: 576px) {
      @content;
    }
  }
}

.btn-outline-primary-custom {
  @include button-outline-variant($color-primary, #fff, $active-color: #fff);
  // color: #fff;
}
.btn-custom-submit {
  @include button-variant(
    #3ecf8e,
    rgba(#3ecf8e, 0.4),
    $color: #fff,
    $active-color: #fff,
    $hover-color: #fff
  );
  // color: #fff;
}
// @mixin button-variant(
//   $background,
//   $border,
//   $color: color-contrast($background),
//   $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
//   $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
//   $hover-color: color-contrast($hover-background),
//   $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
//   $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
//   $active-color: color-contrast($active-background),
//   $disabled-background: $background,
//   $disabled-border: $border,
//   $disabled-color: color-contrast($disabled-background)
// )

@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fadeAnimation($time: 0.8s) {
  animation-name: slidenavAnimation;
  animation-duration: $time;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: $time;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: $time;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}
