// varibles
$color-primary: #c4848f;
$color-primary-50: #f3e6e8;
$color-primary-100: #e7cdd2;
$color-primary-200: #dbb5bb;
$color-primary-300: #cf9ca5;
$color-primary-400: #c9909a;
$color-primary-500: #be7783;
$color-primary-600: #b86b78;
$color-primary-700: #ac5262;
$color-primary-800: #a03a4b;
$color-primary-900: #942135;

@font-face {
  font-family: shabnam;
  src: url(../font/Shabnam.ttf);
}

body {
  font-family: shabnam;
}

.container-custom {
  @extend .container-lg;
  @extend .px-2;
  @extend .px-sm-3;
  @extend .px-lg-0;
}

@mixin media($size) {
  @if ($size == "lg") {
    @media screen and (min-width: 992px) {
      @content;
    }
  }

  @if ($size == "md") {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
}
