@import "../node_modules/bootstrap/scss/bootstrap";
@import "./.custom";
/* main height */
.main-header {
  @extend .position-relative;
  background-color: $color-primary !important;
  height: 100px;
  width: 100%;

  &__nav {
    @extend .position-absolute;
    @extend .start-0;
    @extend .w-100;
    @extend .translate-middle-y;
    top: 90%;

    &__row {
      @extend .d-flex;
      @extend .bg-white;
      @extend .rounded;
      @extend .py-1;
      @extend .py-lg-2;
      @extend .justify-content-between;
      @extend .px-2;
      min-height: 55px;
      box-shadow: 0 8px 17px 2px rgba(163, 150, 150, 0.14),
        0 3px 14px 2px rgba(163, 150, 150, 0.12),
        0 5px 5px -3px rgba(163, 150, 150, 0.3);

      // right menu
      &__right {
        @extend .px-0;
        @extend .d-flex;
        @extend .mb-0;
        @extend .align-items-center;
        @include fadeAnimation;

        &__logo {
          max-width: 50px;
          @include media("md") {
            max-width: 80px;
          }
        }

        &__link {
          @extend .text-decoration-none;
          @extend .py-1;
          @extend .px-2;
          @extend .d-flex;
          @extend .gap-2;
          @extend .align-items-center;
          @extend .rounded-3;
          transition: 0.3s ease background, 0.3s ease color;
          color: $color-primary-500;
          &:hover {
            color: #fff;
            background-color: $color-primary-500;
          }

          &--active {
            color: #fff;
            background-color: $color-primary-500;
          }
        }
        &__link i {
          transition: 0.3s ease transform;
        }
        &__link.show i {
          transform: rotate(180deg);
        }
      }
      // left menu
      &__left {
        @extend .px-0;
        @extend .d-flex;
        @extend .mb-0;
        @extend .align-items-center;
        @include fadeAnimation;

        &__link {
          @extend .text-decoration-none;
          @extend .py-1;
          @extend .px-2;
          @extend .rounded-3;
          @extend .d-flex;
          @extend .align-items-center;
          transition: 0.3s ease background, 0.3s ease color;
          color: $color-primary-500;
          &:hover {
            color: #fff;
            background-color: $color-primary-500;
          }
        }
      }

      // search menu
      &__search {
        @extend .ms-0;
        @extend .mb-0;
        @extend .align-items-center;
        @extend .position-relative;
        @extend .w-100;
        @extend .d-none;
        @include media("md") {
          max-width: 260px;
          margin-left: 0.5rem !important;
        }
        @include media("lg") {
          max-width: 400px;
        }
        @include fadeAnimation;

        input {
          @extend .form-control;
          @extend .position-absolute;
          @extend .start-0;
          @extend .top-50;
          @extend .w-100;
          @extend .px-3;
          @extend .py-2;
          @extend .translate-middle-y;
          // @extend .border-0;
          border-style: none !important;
          box-shadow: none !important;
          /*rtl:begin:ignore*/
          padding-left: 100px !important;
          /*rtl:end:ignore*/
          @include media("md") {
            // @extend .form-control;
            border-style: solid !important;
            // border-width: 1px !important;
          }

          &:focus {
            @include media("md") {
              box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
              // @extend .form-control;
              // border-width: 1px !important;
            }
          }
        }

        &__submit {
          @extend .position-absolute;
          @extend .end-0;
          @extend .top-50;
          @extend .px-3;
          @extend .py-1;
          @extend .translate-middle-y;
          @extend .btn;
          @extend .me-1;
          @extend .btn-outline-primary-custom;
        }
      }
    }

    // handel open search
    .open-search {
      .main-header__nav__row__search {
        @extend .d-flex;
      }

      .main-header__nav__row__right {
        @extend .d-none;
        @include media("md") {
          display: flex !important;
        }
      }

      .main-header__nav__row__left {
        @extend .d-none;
      }
    }
  }

  // dropdown
  [data-bs-toggle="dropdown"]:hover + .dropdown-menu,
  .dropdown-menu:hover {
    display: block !important;
  }
  .dropdown-item:hover {
    background-color: $color-primary-400 !important;
    color: #fff !important;
  }

  .dropdown-menu {
    @include fadeAnimation;
  }
}

// mobile menu
.mobile-menu {
  @extend .text-light;
  background-color: $color-primary-600;

  &__list {
    @extend .w-100;
    @extend .p-0;
    @extend .gap-1;
    @extend .d-flex;
    @extend .flex-column;

    &__link {
      @extend .w-100;
      @extend .d-block;
      @extend .rounded;
      @extend .py-1;
      color: $white !important;
      @extend .px-3;
      @extend .w-100;
      text-decoration: none;
      background-color: #c7929c;

      &:hover {
        background-color: #cc9ea8;
      }

      &--icon {
        @extend .d-flex;
        @extend .justify-content-between;

        &__item {
          @extend .d-flex;
          @extend .justify-content-center;
          @extend .align-items-center;
          @extend .rounded-circle;
          @extend .border;
          @extend .border-2;
          @extend .fs-4;
          border-color: rgba(#fff, 0.35) !important;
          width: 25px;
          height: 25px;
          transform: rotate(180deg);
          transition: 0.4s ease transform;
        }
      }
      &[aria-expanded="false"] {
        .mobile-menu__list__link--icon__item {
          transform: rotate(0deg);
        }
      }
    }

    .mobile-collapse {
      // @extend .border-start;
      // @extend .border-end;
      // @extend .border;
      // @extend .rounded;
      // @extend .border-3;
      // @extend .pe-2;
      @extend .px-0;
      // @extend .pb-1;
      // @extend .mt-1;
      // border-color: #c7929c !important;
      .mobile-menu__list__link {
        // background-color: #dda9b4;
        @extend .border-start;
        @extend .border-5;
        @extend .pe-2;
        // @extend .border-info;
        border-color: $color-primary-200 !important;
      }
    }
  }

  .mobile-menu__list.mobile-menu__list--login {
    // @extend .bg-primary;
    @extend .flex-row;
    .mobile-menu__list__item {
      @extend .w-50;

      .mobile-menu__list__link {
        // @extend .w-50;
        @extend .text-center;
        // width: 50% !important;
      }
    }
  }

  .offcanvas-body {
    @extend .position-relative;
  }

  &__image {
    @extend .position-absolute;
    @extend .bottom-0;
    @extend .start-50;
    @extend .w-75;
    @extend .translate-middle-x;
    z-index: -1;
  }
}

// main section of page
.main-section {
  @extend .container-custom;
  margin-top: 100px;

  .sliders-container {
    @extend .col-5;
    @extend .d-flex;
    @extend .flex-column;
    /*rtl:ignore*/
    direction: ltr;
    // bug slider
    .big-slider-container {
      @extend .position-relative;

      &__controls {
        @extend .position-absolute;
        @extend .start-0;
        @extend .top-0;
        @extend .w-100;
        @extend .h-100;
        background-color: #fff;

        &__item {
          @extend .position-absolute;
          @extend .top-50;
          @extend .translate-middle-y;
          @extend .rounded-3;
          @extend .d-flex;
          @extend .justify-content-center;
          @extend .align-items-center;
          @extend .rounded-3;
          @extend .bg-secondary;
          cursor: pointer;
          z-index: 2;
          width: 30px;
          font-size: 35px;
          height: 50px;
          color: #fff;
          transition: 0.4s ease background;
        }

        &__item--prev {
          @extend .end-0;
        }
        &__item--next {
          @extend .start-0;
        }

        &__item--disabled {
          @extend .opacity-50;
          cursor: auto;
        }
      }
      &__item {
        @extend .w-100;
        aspect-ratio: 1 / 1;
        cursor: grab;
        @extend .user-select-none;
      }

      // zoom
      &__zoom {
        @extend .position-absolute;
        @extend .start-0;
        @extend .top-0;
        @extend .w-100;
        // @extend .opacity-0;
      }

      // .lightense-wrap img {
      //   @extend .opacity-100;
      // }

      &__zoom-btn {
        @extend .position-absolute;
        @extend .btn;
        @extend .btn-light;
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;
        @extend .rounded-circle;
        z-index: 10;
        background-color: $gray-300;
        bottom: 20px;
        left: 20px;
        width: 40px;
        height: 40px;

        &:hover {
          background-color: $gray-200 !important;
        }
      }
    }
    // small slider
    .small-slider {
      cursor: grab;

      &__item-container {
        @extend .opacity-75;
        transition: 0.4s ease opacity;

        &--active {
          @extend .border;
          @extend .border-3;
          @extend .border-primary;
          @extend .rounded-3;
          @extend .opacity-100;
          @extend .overflow-hidden;
        }
        .small-slider__item {
          @extend .w-100;
          aspect-ratio: 1 / 1;
          @extend .user-select-none;
        }

        &:hover {
          @extend .opacity-100;
        }
      }
    }
  }
}

// start content
.breadcrumb-container {
  @extend .d-flex;
  @extend .gap-3;

  &__link {
    @extend .link-secondary;
  }
}

.show-primary {
  @extend .px-2;
  @extend .py-1;
  @extend .rounded-pill;
  background-color: $color-primary-500;
  color: #fff;
  font-size: 14px;
}

.content-product {
  @extend .d-flex;
  @extend .flex-column;

  &__title {
    @extend .mt-3;

    h1 {
      @extend .fs-3;
      @extend .fw-bold;
      color: $gray-700;
    }
  }

  &__price {
    @extend .mt-3;
    color: $color-primary;

    span {
      @extend .fs-2;
      @extend .fw-bold;
    }
  }

  &__inputs-container {
    @extend .mt-5;
    // @extend .fs-3;

    &__input-container {
      @extend .d-flex;
      @extend .flex-column;
      @extend .gap-2;
      @extend .align-items-start;

      &__input {
        @extend .form-select;
        @extend .form-select-lg;
      }
    }
  }

  &__buttons {
    @extend .mt-4;
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;

    &__media {
      @extend .d-flex;
      @extend .gap-2;
      &__item {
        @extend .link-secondary;
        @extend .fs-4;
        text-decoration: none !important;
      }
    }
  }
}
