@import "../node_modules/bootstrap/scss/bootstrap";
@import "./.custom";
/* main height */
.main-header {
  @extend .position-relative;
  background-color: $color-primary !important;
  height: 100px;
  width: 100%;

  &__nav {
    @extend .position-absolute;
    @extend .start-0;
    @extend .w-100;
    @extend .translate-middle-y;
    top: 90%;

    &__row {
      @extend .d-flex;
      @extend .bg-white;
      @extend .rounded;
      @extend .py-1;
      @extend .py-lg-2;
      @extend .justify-content-between;
      @extend .px-2;
      min-height: 55px;
      box-shadow: 0 8px 17px 2px rgba(163, 150, 150, 0.14),
        0 3px 14px 2px rgba(163, 150, 150, 0.12),
        0 5px 5px -3px rgba(163, 150, 150, 0.3);

      // right menu
      &__right {
        @extend .px-0;
        @extend .d-flex;
        @extend .mb-0;
        @extend .align-items-center;
        @include fadeAnimation;
        list-style: none;

        &__logo {
          max-width: 50px;
          @include media("md") {
            max-width: 80px;
          }
        }

        &__link {
          @extend .text-decoration-none;
          @extend .py-1;
          @extend .px-2;
          @extend .d-flex;
          @extend .gap-2;
          @extend .align-items-center;
          @extend .rounded-3;
          transition: 0.3s ease background, 0.3s ease color;
          color: $color-primary-500;
          &:hover {
            color: #fff;
            background-color: $color-primary-500;
          }

          &--active {
            color: #fff;
            background-color: $color-primary-500;
          }
        }
        &__link i {
          transition: 0.3s ease transform;
        }
        &__link.show i {
          transform: rotate(180deg);
        }
      }
      // left menu
      &__left {
        @extend .px-0;
        @extend .d-flex;
        @extend .mb-0;
        @extend .align-items-center;
        @include fadeAnimation;
        list-style: none;

        &__link {
          @extend .text-decoration-none;
          @extend .py-1;
          @extend .px-2;
          @extend .rounded-3;
          @extend .d-flex;
          @extend .align-items-center;
          transition: 0.3s ease background, 0.3s ease color;
          color: $color-primary-500;
          &:hover {
            color: #fff;
            background-color: $color-primary-500;
          }
        }
      }

      // search menu
      &__search {
        @extend .ms-0;
        @extend .mb-0;
        @extend .align-items-center;
        @extend .position-relative;
        @extend .w-100;
        @extend .d-none;
        @include media("md") {
          max-width: 260px;
          margin-left: 0.5rem !important;
        }
        @include media("lg") {
          max-width: 400px;
        }
        @include fadeAnimation;

        input {
          @extend .form-control;
          @extend .position-absolute;
          @extend .start-0;
          @extend .top-50;
          @extend .w-100;
          @extend .px-3;
          @extend .py-2;
          @extend .translate-middle-y;
          // @extend .border-0;
          border-style: none !important;
          box-shadow: none !important;
          padding-left: 100px !important;
          @include media("md") {
            // @extend .form-control;
            border-style: solid !important;
            // border-width: 1px !important;
          }

          &:focus {
            @include media("md") {
              box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
              // @extend .form-control;
              // border-width: 1px !important;
            }
          }
        }

        &__submit {
          @extend .position-absolute;
          @extend .start-0;
          @extend .top-50;
          @extend .px-3;
          @extend .py-1;
          @extend .translate-middle-y;
          @extend .btn;
          @extend .ms-1;
          @extend .btn-outline-primary-custom;
        }
      }
    }

    // handel open search
    .open-search {
      .main-header__nav__row__search {
        @extend .d-flex;
      }

      .main-header__nav__row__right {
        @extend .d-none;
        @include media("md") {
          display: flex !important;
        }
      }

      .main-header__nav__row__left {
        @extend .d-none;
      }
    }
  }

  // dropdown
  [data-bs-toggle="dropdown"]:hover + .dropdown-menu,
  .dropdown-menu:hover {
    display: block !important;
  }
  .dropdown-item:hover {
    background-color: $color-primary-400 !important;
    color: #fff !important;
  }

  .dropdown-menu {
    @include fadeAnimation;
  }
}
