@import "../node_modules/bootstrap/scss/bootstrap";
@import "./.custom";
/* main height */
.main-header {
  @extend .position-relative;
  background-color: $color-primary !important;
  height: 100px;
  width: 100%;

  &__nav {
    @extend .position-absolute;
    @extend .start-0;
    @extend .w-100;
    @extend .translate-middle-y;
    top: 90%;

    &__row {
      @extend .d-flex;
      @extend .bg-white;
      @extend .rounded;
      @extend .py-1;
      @extend .py-lg-2;
      @extend .px-0;
      @extend .justify-content-between;
      @extend .px-4;
      box-shadow: 0 8px 17px 2px rgba(163, 150, 150, 0.14),
        0 3px 14px 2px rgba(163, 150, 150, 0.12),
        0 5px 5px -3px rgba(163, 150, 150, 0.3);

      // right menu
      &__right {
        @extend .px-0;
        @extend .d-flex;
        @extend .mb-0;
        @extend .align-items-center;
        list-style: none;

        &__logo {
          max-width: 50px;
          @include media("lg") {
            max-width: 80px;
          }
        }

        &__link {
          @extend .text-decoration-none;
          @extend .py-1;
          @extend .px-2;
          @extend .d-flex;
          @extend .gap-2;
          @extend .align-items-center;
          @extend .rounded-3;
          transition: 0.3s ease background, 0.3s ease color;
          color: $color-primary-500;
          &:hover {
            color: #fff;
            background-color: $color-primary-500;
          }

          &--active {
            color: #fff;
            background-color: $color-primary-500;
          }
        }
      }
      // left menu
      &__left {
        @extend .px-0;
        @extend .d-flex;
        @extend .mb-0;
        @extend .align-items-center;
        list-style: none;

        &__link {
          @extend .text-decoration-none;
          @extend .py-1;
          @extend .px-2;
          @extend .rounded-3;
          @extend .d-flex;
          @extend .align-items-center;
          transition: 0.3s ease background, 0.3s ease color;
          color: $color-primary-500;
          &:hover {
            color: #fff;
            background-color: $color-primary-500;
          }
        }
      }
    }
  }

  // dropdown
  [data-bs-toggle="dropdown"]:hover + .dropdown-menu,
  .dropdown-menu:hover {
    display: block !important;
  }
  .dropdown-item:hover {
    background-color: $color-primary-400 !important;
    color: #fff !important;
  }

  .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
  }
  @keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* ------------ responsive ------------ */
